.wrapper{
	display: flex;
	height: 100%;

	menu{
		border-right: 2px solid #000;
		width: 20%;
		display: flex;
		justify-content: center;
		padding-top: 20px ;
		height: auto;
		align-items: start;
		overflow-y: scroll;
		padding:70px 20px;
		button{
			font-size: 110%;
			font-weight: 600;
		}
		ul{
			display: flex;
			width: 100%;
			flex-direction: column;
			justify-content: start;
			gap: 10px;
			height: auto;
		}
	}
	section{
		padding: 0 20px;
		height: 100%;
		width: 100%;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: min-content;
	}
}