.wrapper{
	overflow-x:hidden;
	width: 100%;
	.options_wrapper{
		display: grid;
		gap: 10px;
		grid-template-columns: 1fr 50px;
		grid-template-rows: 1fr;

		height: 50px;
		margin-bottom:10px;
		width: 100%;
		overflow: hidden;
	}
	.header{
		padding: 5px 0;
		position:sticky;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 2;
		background-color: white;
		h1{
			padding:10px 0;
			font-size: 190%;
		}
	}
	.main{
		position: relative;
		display: grid;
		width: 100%;
		grid-template-columns:0.2fr 1fr;
		grid-template-rows: 1fr;
		gap: 10px;
		.data_list{
			width: auto;
			overflow-y:auto;
			max-height: 100vh; 
		}
		// border-top : 2px solid black;
		padding:0 20px;
		.filter{
			height: 100%;
			position: sticky;
			top: 0;
			left: 0;
			// border-right:2px solid black;
		}
	}
}