.wrapper{
	width: 100%;
	// background-color: yellow;
	button{
		height: 50px;
		width: 100%;
		background-color: transparent;
		border-radius: 1000px;
		border: 2px solid #000;
		font-size: 100%;
		transition: 0.3s ease-in-out;
	}
	button:hover{
		background-color: black;
		color: white;
	}
}